.card__action__btn > button {
  background-color: var(--task-hover);
  color: #bdbdbd;
  border: none;
  font-size: 15px;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 32px;
  margin-top: 8px;
  max-width: 300px;
  overflow: hidden;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  transition-duration: 85ms;
  transition-property: background-color, border-color, box-shadow;
  transition-timing-function: ease;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.card__action__btn > button:hover {
  background-color: var(--task-hover);
  border: none;
}
.icon__sm > svg {
  height: 15px;
  width: 15px;
}
.icon__md {
  height: 20px;
  width: 20px;
}
.card__label {
  display: flex;
  justify-content: space-between;
}
.label__color > span {
  height: 32px;
  box-sizing: border-box;
  min-width: 40px;
  width: auto;
  padding: 0px 12px;
  display: block;
  border-radius: 3px;
  font-weight: 600;
  color: #c5d1db;
  line-height: 32px;
  float: left;
  margin: 0px 4px 4px 0px;
}
.label__color > span:hover {
  cursor: pointer;
}
.progress-bar {
  background-color: #61bd4f !important;
}
.task__editable {
  width: 30%;
}
.task__list {
  min-height: 20px;
  height: auto;
  padding-top: 6px;
  padding-inline: 0.5rem;
  border-radius: 2px;
}
.task__list:hover {
  background-color: var(--task-hover);
}

.task__checkbox {
  height: 18px !important;
  width: 18px !important;
  cursor: pointer;
}
.task__list > div > p {
  text-align: left;
  font-size: 16px;
}

.strike-through {
  text-decoration: line-through;
}

.cardDetails {
  border-radius: 40%;
  color: #bdbdbd;
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 370px;
}

.card__edit{
  margin-top: 20px;
  letter-spacing: 0.5rem;
  font-weight: 200;
  text-align: center;
}

.cardDetails input,
.cardDetails textarea {
  width: 90%;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border-color: black;
  font-size: 16px;
  margin-left: 20px;
}

.cardDetails input {
  margin-top: 20px;
  height: 40px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.cardDetails textarea {
  padding-bottom: 50px;
  margin-bottom: 0px;
  margin-top: 0px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.cardDetails__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}

/* CardDetails.css */
.modal-content {
  display: flex;
  justify-content: space-between;
}

.card-details-wrapper {
  display: flex;
  gap: 20px;
}

.cardDetails {
  flex: 1;
}

.comments-section {
  flex: 0 0 300px; /* Комментарии будут занимать фиксированную ширину */
  max-width: 300px;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
}

.comments-list {
  max-height: 300px;
  overflow-y: auto;
}

.comment {
  margin-bottom: 10px;
  border-radius: 10px; /* Увеличена скругленность углов */
  max-width: 260px;
  border: 2px solid #8da8bd; /* Толщина и цвет обводки */
  padding: 10px; /* Отступы внутри комментария для лучшего вида */
  background-color: #ffffff; /* Белый фон для контраста */
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.comment-form {
  display: flex;
  flex-direction: column;
}

.comments-list {
  max-width: 260px;
  max-height: 190px; /* Максимальная высота, после которой будет прокрутка */
  overflow-y: auto;  /* Включаем прокрутку, если контент выходит за пределы */
  padding-right: 10px; /* Отступ для улучшения внешнего вида */
}

.comment-form input {
  padding: 10px;
  margin-bottom: 10px;
}

.comment-form button {
  padding: 10px;
  cursor: pointer;
}


.save__button{
  letter-spacing: 0.65rem;
  background-color: #d5d5d5;
  border-radius: 10px;
  border: none;
  color: #494949;
  font-weight: 100;
  font-size: 16px;
  align-content: center;
  cursor: pointer;
  margin-left: 325px;
  margin-top: 9px;
  height: 30px;
  width: 200px;
}

.modal__content{
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
}

.delete__button{
  letter-spacing: 0.35rem;
  margin-top: 10px;
  border: none;
  background-color: #a2a2a2b5;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  color: #000000;
  font-weight: 100;
  font-size: 16px;
  cursor: pointer;
  margin-right: 8px;
  width: 100px;
}

.navigate__button{
  letter-spacing: 0.35rem;
  background-color: #a1a1a1;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  font-weight: 100;
  font-size: 16px;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  margin-right: 8px;
  width: 200px;
}

.card__view{
  padding-left: 125px;
  padding-top: 20px;
  color: #454545;
}

.cardDetails p{
  margin-left: 20px;
  color: #494949;
}

.participants-dropdown {
  margin-top: 20px;
  width: 630px;
  margin-bottom: 20px;
  margin-left: 20px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.color-picker{
  margin-top: 20px;
  display: flex;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
}


.color-picker label{
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 5px;
}

.color-picker input {
  border:none;
  padding: 0;
  width: 30px;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.participants-dropdown select {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.date-picker{
  margin-top: 0;
  
}

.date-picker label{
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 0px;
}

.date-picker-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.date-picker-container .react-datepicker-wrapper {
  flex: 1;
}