{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title %}

{% block content %}
    {% load static %}

    <!-- Глобальные стили для полноэкранного режима -->
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html, body {
        width: 100vw;
        height: 100vh;
        overflow: hidden; /* Убираем возможные скроллы */
    }
    #root {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

    <!-- Подключаем стили React -->
    <link rel="stylesheet" href="{% static './css/main.css' %}">

    <!-- Основной контейнер React -->
    <div id="root" data-theme = "light" style="margin-left: -10%"></div>

    <!-- Подключаем JS React-приложения -->
    <script type="module" src="{% static './js/main.js' %}" crossorigin></script>

{% endblock content %}
