{% extends "users/base.html" %}
{% block title %}Logout{% endblock title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body text-center">
            <h5 class="card-title">Вы вышли из системы</h5>
            <br><hr>
            <a href="{% url 'login' %}" class="btn btn-primary" style="background-color: #3e3f43;">Войдите в систему еще раз</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  


{% endblock content %}