{% extends "users/base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4 text-center">
                <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }}" style="cursor: pointer; width: 150px; height: 150px;" />
            </div>
            <div class="col-md-6">
                {% if user_form.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div id="form_errors">
                            {% for key, value in user_form.errors.items %}
                                <strong>{{ value }}</strong>
                            {% endfor %}
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="small mb-1" style="font-size: 15px; color: #5e5e5e;">Имя пользователя:</label>
                                {{ user_form.username }}
                                <label class="small mb-1" style="font-size: 15px; color: #5e5e5e;">Email:</label>
                                {{ user_form.email }}
                            </div>
                            <div class="form-group">
                                <a href="{% url 'password_change' %}">Смена пароля</a>
                                <hr>
                                <label class="small mb-1" style="font-size: 15px; color: #5e5e5e;">Смена аватарки:</label>
                                {{ profile_form.avatar }}
                            </div>
                            <label class="small mb-1" style="font-size: 15px; color: #5e5e5e; overflow:auto;resize:none">О себе:</label> {{ profile_form.bio}}
                        </div>
                    </div>
                    <br><br>
                    <button type="submit" class="btn btn-dark btn-lg">Сохранить изменения</button>
                    <button type="reset" class="btn btn-dark btn-lg">Сброс</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
