{% extends "users/base.html" %}
{% block title %} Register Page {% endblock title%}
{% block content %}
    <div class="form-content my-3 p-3" style="transform: translate(-300px, 60px);">
		<div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card " style="background: none; border: none;">
                        <div class="card-header justify-content-center tab" style="background: none; border: none; display: flex; justify-content: center; align-items: center;">
                            <h3 class="font-weight-light my-1 leftstr" style="position: relative; padding-bottom: 5px; margin-right: 20px; font-size: 40px;color:rgba(102, 102, 102, 1);">
                                <a href="{% url 'login' %} " class="rightstr" style="text-decoration: none; color: #3d3d3d; opacity: 30%">
                                     Вход
                                     <span style="position: absolute; bottom: 0; left: 0; right: 0; height: 2px; background: rgba(102, 102, 102, 1); transition: none;"></span>
                                </a>
                            </h3>
                            <h3 class="font-weight-light my-1" style="position: relative; padding-bottom: 5px; margin-left: 40px; font-size: 40px; color: #3d3d3d;">
                                    Регистрация
                                    <span style="position: absolute; bottom: 0; left: 0; right: 0; height: 2px; background: rgba(153, 153, 153, 1); transition: none;"></span>
                                </a>
                            </h3>
                            <script>
                                const link = document.querySelector('.rightstr');
                            
                                link.addEventListener('mouseover', function() {
                                    this.style.color = 'rgba(153, 153, 153, 1)';
                                    this.querySelector('span').style.background = 'rgba(153, 153, 153, 1)';
                                });
                            
                                link.addEventListener('mouseout', function() {
                                    this.style.color = 'rgba(102, 102, 102, 1)';
                                    this.querySelector('span').style.background = 'rgba(102, 102, 102, 1)';
                                });
                            </script>
                        </div>

                        <div class="card-body" style="margin-top: 10px">
                            <form method="POST">
                                {% csrf_token %}
                                {% if form.errors %}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <div id="form_errors">
                                            {% for key, value in form.errors.items %}
                                                <strong>{{ value }}</strong>
                                            {% endfor %}
                                        </div>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %}
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form.first_name }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form.last_name }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
		                                <div class="form-group">
		                                	{{ form.username }}
		                                </div>
		                            </div>
                                    <div class="col-md-6">
		                                <div class="form-group">
                                            {{ form.email }}
		                                </div>
		                            </div>
		                        </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form.password1 }}
                                            {{ form.errors.password }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            {{ form.password2 }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mt-4 mb-0">
                                    <button type="submit" class="col-md-12 btn btn-white">Зарегистрироваться</button><br><br>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
	</div>
{% endblock content %}